<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<div class="component-wrapper">
<app-side-bar [active]="sidebarIsActive"></app-side-bar>
<div class="content-wrapper">
  <app-nav-bar (toggleBar)="toggleSidebar()" ></app-nav-bar>
    <div class="track-block">
      <div class="search-wrap">
          <img alt="search icon" src="../../../assets/img/logos/search.svg">
          <input aria-label="search your apartment" onkeyup="search(event)" placeholder="Search for brand or product" type="text">
      </div>
  </div>
    
<div class="container-fluid">
          <nav class="tabbable">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select();" id="nav-home-tab" data-toggle="tab" href="javascript:void(0) " role="tab" aria-controls="nav-home" aria-selected=" false">All</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select();" id="nav-profile-tab" data-toggle="tab" href="javascript:void(0) " role="tab" aria-controls="nav-profile" aria-selected="false">New</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-contact-tab" data-toggle="" href="javascript:void(0) " role="tab" aria-controls="nav-contact" aria-selected="false">Fashion</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-home-tab" data-toggle="tab" href="javascript:void(0) " role="tab" aria-controls="nav-home" aria-selected=" false">Electronics</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-profile-tab" data-toggle="tab" href=" javascript:void(0)" role="tab" aria-controls="nav-profile" aria-selected="false">Accessories</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-contact-tab" data-toggle="tab" href=" javascript:void(0)" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-home-tab" data-toggle="tab" href="javascript:void(0) " role="tab" aria-controls="nav-home" aria-selected=" false">Home</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-profile-tab" data-toggle="tab" href="javascript:void(0) " role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-contact-tab" data-toggle="tab" href="javascript:void(0) " role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
              <a class="nav-item nav-link" (click)="selectedTab=$event.target.select()" id="nav-profile-tab" data-toggle="tab" href=" javascript:void(0)" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
            </div>
          </nav>
        </div>
        <button class="btn" style="margin-left: 85%;"><img src="../../../assets/img/filter.ico" height="20vh" width="20vh" alt="filter icon"></button>
        <!-- {{selectedTab}} -->
        <div class="scroll-wrapper">
           
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            <div class="card column" style=" padding: 0;"  >
              <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
              <div class="card-body" style="padding:0;">
                <h5 class="card-title company-name" style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">Man Matters</h5>
                <p class="card-text company-desc" style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; "> </p>
              </div>
            </div>
            
            
              
            </div>
</div>
</div>
            
