
 <!-- <link rel="stylesheet" type="text/css" href="./_nav.scss"> -->
<div class="component-wrapper">
  <app-side-bar [active]="sidebarIsActive"></app-side-bar>
  <div class="content-wrapper">
    <app-nav-bar (toggleBar)="toggleSidebar()"></app-nav-bar>
    <div class="track-block">
      <div class="search-wrap">
        <img alt="search icon" src="../../../assets/img/logos/search.svg">
        <input aria-label="search your apartment" onkeyup="search(event)" placeholder="Search for brand or product"
          type="text">
      </div>
    </div>

    
    <ngb-tabset id="Nav">
        <ngb-tab title="One">
          <ng-template ngbTabContent>
            <button class="btn" style="margin-left: 85%;"><img src="../../../assets/img/filter.svg" height="20vh"
                width="20vh" alt="filter icon"></button>
            <div class="scroll-wrapper">
              <div class="card column" style=" padding: 0;">
                <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
                    max-height: 100%;">
                <div class="card-body" style="padding:0;">
                  <h5 class="card-title company-name"
                    style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">
                    oNE oNE Matters</h5>
                  <p class="card-text company-desc"
                    style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; ">
                  </p>
                </div>
              </div>
              <div class="card column" style=" padding: 0;">
                <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
                    max-height: 100%;">
                <div class="card-body" style="padding:0;">
                  <h5 class="card-title company-name"
                    style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">
                    One Two Matters</h5>
                  <p class="card-text company-desc"
                    style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; ">
                  </p>
                </div>
              </div>



            </div>
    

  </ng-template>
  </ngb-tab>
  <ngb-tab title="Two">
    <ng-template ngbTabContent>
      <button class="btn" style="margin-left: 85%;"><img src="../../../assets/img/filter.svg" height="20vh" width="20vh"
          alt="filter icon"></button>
      <div class="scroll-wrapper">
        <div class="card column" style=" padding: 0;">
          <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
                    max-height: 100%;">
          <div class="card-body" style="padding:0;">
            <h5 class="card-title company-name"
              style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">
              Two One Matters</h5>
            <p class="card-text company-desc"
              style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; ">
            </p>
          </div>
        </div>
        <div class="card column" style=" padding: 0;">
          <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
                    max-height: 100%;">
          <div class="card-body" style="padding:0;">
            <h5 class="card-title company-name"
              style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">
              Two Two Matters</h5>
            <p class="card-text company-desc"
              style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; ">
            </p>
          </div>
        </div>
      </div>



</ng-template>
</ngb-tab>
<ngb-tab title="Three">
  <ng-template ngbTabContent>
   
  </ng-template>
</ngb-tab>
<ngb-tab title="Four">
  <ng-template ngbTabContent>
   
  </ng-template>
</ngb-tab>
<ngb-tab title="Five">
  <ng-template ngbTabContent>
   
  </ng-template>
</ngb-tab>
<ngb-tab title="Six">
  <ng-template ngbTabContent>
   
  </ng-template>
</ngb-tab>
<ngb-tab title="Two">
  <ng-template ngbTabContent>
   
  </ng-template>
</ngb-tab>
<ngb-tab title="Two">
  <ng-template ngbTabContent>
   
  </ng-template>
</ngb-tab>

</ngb-tabset>
<button class="btn" style="margin-left: 85%;"><img src="../../../assets/img/filter.svg" height="20vh" width="20vh"
    alt="filter icon"></button>
<div class="scroll-wrapper">
  <div class="card column" style=" padding: 0;">
    <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
    <div class="card-body" style="padding:0;">
      <h5 class="card-title company-name"
        style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">
        Man Matters</h5>
      <p class="card-text company-desc"
        style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; ">
      </p>
    </div>
  </div>
  <div class="card column" style=" padding: 0;">
    <img class="card-img-top" src="../../../assets/img/logos/plain-white-background.jpg" style="border: 1px solid rgba(0,0,0,0.125); margin-bottom:0.7em;width: 100%; height:17vh; border-radius:25px; object-fit: cover; max-width: 100%;
              max-height: 100%;">
    <div class="card-body" style="padding:0;">
      <h5 class="card-title company-name"
        style="  margin: 0.25em 0.25em 0.35em 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif; font-size:14px; text-align: left; font-weight:600;">
        Yolo Matters</h5>
      <p class="card-text company-desc"
        style="margin: 0 0.25em 0 0.25em; color:#3a5275; font-family: 'Montserrat',sans-serif;font-size: 12px; text-align: left; font-weight: 400; ">
      </p>
    </div>
  </div>



</div>
</div>
</div>
