
<div  class="scroll-wrapper" >
    <a href="javascript:void(0)" (click)="goBack()"><button backButton class="btn1 liked_btn" ></button></a>

    <div class="blog-page">

        <img class="blog-img" src="{{blogpage.imageUrl}}">

        <div class="container">
            <div class="blog-page-tag ow">{{blogpage.tags}}</div>
            <div class="blog-title ow">{{blogpage.title}}</div>
            <div class="blog-page-date ow">{{blogpage.author}} · {{getDate(blogpage)}}</div>
            <div class="blog-content ow" >{{blogpage.content}}</div>
        </div>

        <div class="button-strap container">
            <div class="button-wrap" >
                <button class="btn share" (click)="likePage()">
                    <img [hidden]="isLiked" class="blog-button" src="../../../assets/blog-icons/heart.svg" />
                    <img [hidden]="!isLiked" class="blog-button" src="../../../assets/blog-icons/heart filled-01.svg" />
                </button>
            </div>
            <div class="button-wrap">
                <button class="btn share" (click)="bookmarkPage()">
                    <img [hidden]="isBookmarked" class="blog-button" src="../../../assets/blog-icons/bookmark.svg" />
                    <img [hidden]="!isBookmarked" class="blog-button" src="../../../assets/blog-icons/Bookmark Filled.svg" />

                </button>
            </div>
            <div class="button-wrap" >
                <button class="btn share" (click)="activateShare()">
                    <img class="blog-button" src="../../../assets/blog-icons/share.svg" />
                </button>
            </div>
        </div>

        <!-- <div class="search-wrap" style="margin: 6vh 1vh 1vh 1vh;">
            <input aria-label="write a comment" #box (keyup.enter)="onEnter(box.value)" placeholder="Write a comment"
                type="text">
        </div>

        <div class="blog-page-date container">Comments({{comments}})</div> -->
        <div class="blog-content container" style="font-size: 12px; font-weight: 600; margin-bottom: 8px;margin-top: 16px;"
            *ngIf="recommendedBlogs.length > 0">You may also like</div>

    </div>


    <div class="card column" style=" padding: 0;"
        *ngFor="let blog of recommendedBlogs; let i = index">
        <div routerLink="/blog/{{blog.blogId}}">
            <a href="#" target="_blank"><img class="card-img-top" src="{{blog.imageUrl}}">
                <div style="padding:8px;">
                    <div class="blog-date">{{getDate(blog)}}</div>
                    <div class=" blog-desc">{{blog.title}}</div>
                    <div class="blog-tag">{{blog.tags}}</div>
                </div>
            </a>
        </div>
        
    </div>

</div>
<app-share-tab></app-share-tab>