@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.app-order-page{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  p {
    margin: 0;
  }
  .banner {
    height: 8%;
  }
  transition: all 1s ease-in-out 0.5s;
  .order-items {
    .row {
      .pdt-img {
        .pdt-img-wrapper{
          position: relative;
          width: fit-content;
          margin: 0;
          img {
            max-width: 95%;
            border-radius:10px;
            border: 1px solid #eaeaea;
          }
          .pdt-count {
            position: absolute;
            top: -5%;
            right: -5%;
          }
        }
      }
      p {
        font-size: 0.8rem;
        margin: 0;
      }
      .pdt-name {
        text-align: justify;
      }
      .pdt-price {
        text-align: right;
      }
    }
  }
  .cust-deets {
    .card {
      .card-body {
        .card-text {
          font-size: 0.9rem;
        }
      }
    }
  }
}
.btn1{
  position: absolute;
  left: 3%;
  top:8.2%;
  border: none;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-size: 50%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  
}

.liked_btn {
  background-color: #FFF;
  background-image: url('../../../assets/account-icons/back.svg');
}
