<div class="track-block">
    <div class="search-wrap" style="margin: 1vh 1vh 1vh 1vh;">
      <img alt="search icon" src="../../../assets/blog-icons/search.svg">
      <input aria-label="search your apartment" onkeyup="search(event)" placeholder="Search for brand or product"
        type="text">
    </div>
  </div>
  <div class = "container">Bookmarked</div>
  
    <div class="scroll-wrapper"  style="margin-top: 2vh; height:60vh; justify-content: center; width: 100%">
              

      <div class="card column" style=" padding: 0;" *ngFor="let blog of (blogs$ | async)?.blogs; let i = index" >
      <div class="row" routerLink="/blog/{{blog.blogId}}">
        <a href="#" target="_blank"><img class="card-img-top" src="{{blog.imageUrl}}">
          <div style="padding:8px;">
            <div class="blog-date" >{{getDate(blog)}}</div>
            <div class=" blog-desc">{{blog.title}}</div>
            <div class="blog-tag">{{blog.tags}}</div>
          </div>
        </a>

      </div>      
      </div> 

  </div>

