<div style="overflow-x: hidden;">
  <div class="track-block">
    <a href="javascript:void(0)" (click)="goBack()">
      <div backButton class="btn1 liked_btn"></div>
    </a>
    <div class="container " style=" margin-left: 5vh;margin-top: 3vh;">
      Bookmarked</div>
  </div>
  <div class="scroll-wrapper" style="margin-top: 2vh; height:62vh; justify-content: center; width: 100%">
    <div class="card column" style=" padding: 0;" *ngFor="let blog of allBlogs | filter:searchText">
      <div class="row" routerLink="/blog/{{blog.blogId}}">
        <a href="#" target="_blank"><img class="card-img-top" src="{{blog.imageUrl}}">
          <div style="padding:8px;">
            <div class="blog-date">{{getDate(blog)}}</div>
            <div class=" blog-desc">{{blog.title}}</div>
            <div class="blog-tag">{{blog.tags}}</div>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>