
@import '../blog-nav/blog-nav.component.scss';
.btn1{
  position: relative !important;
  left: 3%;
  top:8.2%;
  border: none;
  height: 5vh;
  width: 5vh;
  top:9%;
  border-radius: 50%;
  background-size: 50%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  
}

.liked_btn {
  background-color: #F8F9FA;
  background-image: url('../../../assets/account-icons/back.svg');
}
