

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="component-wrapper">
    <div class="content-wrapper">
      <div class="scroll-wrapper" style="overflow-x: hidden;">
        <a href="javascript:void(0)" (click)="goBack()"><button backButton class="btn1 liked_btn" ></button></a>
        <div class="banner bg-light row align-items-center">
          <p class="" style="text-align: center; margin-left: 40%; margin-top: 4%;"><strong>Liked Cards</strong></p>
        </div>
        <br>
        <div class="card card-1 column"  *ngFor="let story of liked_stories; let i = index" >
          <img class="card-img-top img" src="{{story.imageUrl}}" (click)="onClick(story, i)" id="{{i}}">
          <button class="btn gradient-button gradient-button-1" routerLink="/brand/{{story.brandId}}">VISIT BRAND</button>
        </div>
      </div>
    </div>
</div>

<div id="modal01" class="w3-modal modal">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright" (click)="back_to_list()">&times;</span>
  <div class="w3-animate-zoom">
    <div class="card card-wrapper">
      <img [src]="source" id="img01" alt="Image Not Found" class="img2" (click)="back_to_list()">
      <p class="text">{{time}}</p>
      <button class="btn like" [ngClass]=like (click)="remove_like(ind)"></button>
      <button class="btn share" (click)="activateShare(target)" ></button>
      <button class="btn gradient-button-2 gradient-button-3" routerLink="/brand/{{brandId}}">VISIT BRAND</button>
    </div>
  </div>
</div>
