@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$img-height: 62vh;
$img-width: (0.79 * $img-height);
$btn-height: (0.13 * $img-height);
$btn-width: $img-width;

.body {
  font-family: 'Montserrat' !important;
}

.column {
    float: left;
    width: 50%;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-wrapper{
    overflow-y:scroll;
    max-height: 100%;
    align-items: center;
}
  
.card-1{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: 39vh;
    width: 45vw;
    margin-left: 3vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 7pt;
    padding: 0;
}

.component-wrapper {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
  
.content-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-left: 3vw;
    margin-top: 1vh;
    margin-bottom: 0;
    font-family: 'Montserrat';
}

.img {
    border-radius: 7pt;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 33vh;
    width: 45vw;
    object-fit: cover;
}

.gradient-button {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    max-width: 93vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); //0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 7pt;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 6vh;
    width: 45vw;
    font-family: 'Montserrat'; 
    font-weight: bold; 
    font-size: medium;
  }

  .gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .gradient-button-1 {background-image: linear-gradient(to right, #f5841f 0%, #f91964 100%)}
  .gradient-button-1:hover { background-position: right center; }

.card-wrapper{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: ($img-height + $btn-height);
    width: $img-width;
    max-width: 93vw;
    margin: auto;
    border-radius: 12pt;
    padding: 0;
    align-items: center;
    margin-top: 4vh;
}

.img2 {
    border-radius: 12pt;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: $img-height;
    width: $img-width;
    max-width: 93vw;
    object-fit: cover;
}

.gradient-button-2 {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    max-width: 93vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); //0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 12pt;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: $btn-height;
    width: $btn-width;
    max-width: 93vw;
    font-family: 'Montserrat'; 
    font-weight: bold; 
    font-size: medium;
  }

  .gradient-button-2:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .gradient-button-3 {background-image: linear-gradient(to right, #f5841f 0%, #f91964 100%)}
  .gradient-button-3:hover { background-position: right center; }

  .like_n{
    position: absolute;
    bottom: 23%;
    right: -5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1d2a5b;
    background-image: url('src/assets/img/shareables/heart.svg');
    background-size: 50%;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    border: none;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    text-align: center;
  }

  .like_y{
    position: absolute;
    bottom: 23%;
    right: -5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1d2a5b;
    background-image: url('src/assets/img/shareables/heart_liked.png');
    background-size: 50%;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    border: none;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    text-align: center;
  }

  .share{
    position: absolute;
    bottom: 10%;
    right: -5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1d2a5b;
    background-image: url('src/assets/img/shareables/share\ \(1\).svg');
    background-size: 50%;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    text-align: center;
  }

  .text{
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: left;
    font-size: medium;
    color: #fefefe;
    font-family: 'Montserrat';
  }
