<div class="component-wrapper">
  <app-side-bar [active]="sidebarIsActive"></app-side-bar>
  <div class="content-wrapper">
    <app-nav-bar (toggleBar)="toggleSidebar()"></app-nav-bar>
    <div class="content container">
      <!-- ********************************************
           *************Page content here**************
           ********************************************-->
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum imperdiet nisl eu ligula pharetra, at mattis arcu consectetur.
        Donec mattis turpis et purus pharetra ultrices. Donec id luctus leo.
        Donec hendrerit viverra tellus et vulputate. Ut id dignissim dolor, et suscipit diam.
        Aliquam vitae luctus orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In fringilla, turpis non maximus scelerisque, turpis dolor placerat mi, gravida finibus dui ex in felis.
        In convallis imperdiet tincidunt. Pellentesque vel quam tortor.
      </p>
    </div>
  </div>
</div>
