@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.brand-page {
  overflow-y: scroll;
  height: 100%;
  .full-height {
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
  }
  .loader {
    position: fixed;
    top: 42%;
    left: 42%;
    width: 4rem;
    height: 4rem;
  }
  @include media-breakpoint-up(md) {
    .loader {
      left: 46%;
    }
  }
}
.btn1{
  // position: absolute;
  left: 3%;
  top:8.2%;
  border: none;
  height: 5vh;
  width: 5vh;
  top:9%;
  border-radius: 50%;
  background-size: 50%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;

}

.liked_btn {
  background-color: #FFF;
  position: absolute;
  z-index: 100;
  background-image: url('../../../assets/account-icons/back.svg');
}
