@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.brand-page {
  // overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  .about-brand {
    .brand-info {
      // border-bottom: 1px solid #aeaeae;
      a {
        width: 100%;
        height: 100%;
        .liked_btn {
          background-color: #FFF;
          border: none;
          background-image: url('../../../assets/account-icons/back.svg');
          border-radius: 50%;
          background-size: 50%;
          background-position: 50%, 50%;
          background-repeat: no-repeat;
          height: 35px;
          width: 30px;
        }

      }

      img.brand-img {
        width: 100%;
        max-width: 200px;
        border-radius: 15px;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
    .nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          font-weight: 500;
        }
        .nav-link.active {
          border-bottom: 3px solid #1D2A5B;
          font-weight: 700;
          color: #1D2A5B;
        }
      }
    }
  }

  .fill-height {
    flex-grow: 1;
    overflow-y: scroll;
  }
  .loader {
    position: fixed;
    top: 42%;
    left: 42%;
    width: 4rem;
    height: 4rem;
  }
  @include media-breakpoint-up(md) {
    .loader {
      left: 46%;
    }
  }

  .blog.card {
    border-radius: 15px;
    overflow: hidden;
    .blog-desc{
      position: relative;
      margin-top: -8px;
      color:#3a5275;
      font-family: 'Montserrat',sans-serif;
      font-size:14px;
      text-align: left;
      font-weight:600;
      height: 62px;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }

    .blog-tag{
      height:36px;
      margin-top: 10px;
      margin-bottom: -18px;
      color:#3a5275;
      font-family: 'Montserrat',sans-serif;
      font-size: 12px;
      text-align: left;
      font-weight: 400;
    }
  }
}
