<div class="banner bg-light  align-items-center">
    <!-- <a href="javascript:void(0)" (click)="goBack()"><button backButton class="btn1 liked_btn" ></button></a>
    <p class="" style="text-align: center; margin-left: 16%; margin-top: 4%;"><strong>My Orders</strong></p> -->
    <div class="banner bg-light  align-items-center" style="display:inline-block; ">
        <p class="" style="text-align: center; margin-left: 5%; margin-top: 4%; margin-bottom: 0; vertical-align: middle; width: 100%;"><a href="javascript:void(0)" (click)="goBack()" style="vertical-align: middle;"><button backButton class="btn1 liked_btn" ></button></a><strong style="margin-left:30vw;">My Orders</strong></p>
      </div>
    <hr>
</div>
<br>
<div class="container main">
    <div class="card card-wrapper" *ngFor="let order of all_orders; let i = index">
        <div class="card-body card-body-wrapper" routerLink="/order/{{order.id}}">
            <div class="col-8">
                <p class="product_name">{{getItemName(i)}}</p>
            <p class="product_status">{{getProductStatus(i)}}</p>
            </div>
            <div class="col-4">
                <img src="{{(getProduct(order.line_items[0].product_id) | async)?.images[0]?.src}}" class="product_img">
            </div>
        </div>
    </div>
</div>

