<div class="container main">
    <p class="main-heading">My Orders</p>
    <div class="card card-wrapper" *ngFor="let order of all_orders; let i = index">
        <div class="card-body card-body-wrapper" routerLink="/order/{{order.id}}">
            <div class="col-8">
                <p class="product_name">{{getItemName(i)}}</p>
            <p class="product_status">{{getProductStatus(i)}}</p>
            </div>
            <div class="col-4">
                <img src="{{(getProduct(order.line_items[0].product_id) | async)?.images[0]?.src}}" class="product_img">
            </div>
        </div>
    </div>
</div>

