.main {
    overflow-y: scroll; 
    max-height: 80%;
    margin-top: 0;
}

.main-heading {
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-wrapper {
    padding: auto; 
    margin: auto; 
    margin-bottom: 2vh;
    border-radius: 7pt; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body-wrapper {
    font-family: 'Montserrat'; 
    align-items: center; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
}

.product_status {
    font-size: smaller; 
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 98%;
}

.product_img {
    float:right; 
    height: 10vh; 
    width: 10vh; 
    object-fit: cover;
}

.product_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 98%;
}
.btn1{
    // position: absolute;
    left: 3%;
    top:8.2%;
    border: none;
    height: 5vh;
    width: 5vh;
    top:9%;
    border-radius: 50%;
    background-size: 50%;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    
  }
  
  .liked_btn {
    // position: absolute;
    background-color: #FFF;
    background-image: url('../../../assets/account-icons/back.svg');
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
  }