<div class="app-login active" *ngIf="state.active">
  <div class="login-modal" [ngSwitch]="state.mode">
    <ng-container *ngSwitchCase="'log'">
      <ng-container *ngTemplateOutlet="l"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'reg'">
      <ng-container *ngTemplateOutlet="r"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'out'">
      <ng-container *ngTemplateOutlet="out"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #r>
  <div class="p-3 register-stage container">
    <h5 class="mb-3">Register Now</h5>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-6 mb-1">
          <label for="first-name">First Name</label>
          <input type="text" class="form-control" formControlName="firstName"
          [class.is-invalid]="firstName.hasError('required')  && (firstName.dirty || firstName.touched)">
        </div>
        <div class="form-group col-6 mb-1">
          <label for="last-name">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName"
          [class.is-invalid]="lastName.hasError('required')  && (lastName.dirty || lastName.touched)">
        </div>
      </div>
      <div class="form-row">
        <div class="from-group col mb-3">
          <label for="mobile">Email</label>
          <input type="email" class="form-control" formControlName="email" email required
          [class.is-invalid]="(email.invalid && (email.dirty || email.touched))">
        </div>
      </div>
      <div class="form-row">
        <div class="from-group col mb-3">
          <label for="mobile">Password</label>
          <input type="password" class="form-control" formControlName="password" required
          [class.is-invalid]="(password.invalid  && (password.dirty || password.touched))">
        </div>
      </div>
      <div class="form-row">
        <div class="from-group col mb-3">
          <label for="mobile">Confirm Password</label>
          <input type="password" class="form-control" formControlName="cfPassword" required
          [class.is-invalid]="((cfPassword.invalid || registerForm.hasError('passwordNotMatch'))  && (cfPassword.dirty || cfPassword.touched))">
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col mb-3 d-flex justify-content-center">
          <a class="switch-mode" (click)="switchMode('log')">Already have an account? Click here to login</a>
        </div>
      </div>
      <div class="from-row">
        <div class="col-9 ml-auto mr-auto d-flex justify-content-center">
          <button type="submit" class="btn" [disabled]="registerForm.invalid">Register</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #l>
  <div class="p-3 register-stage container">
    <h5 class="mb-3">Login</h5>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="from-group col mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" email required
          [class.is-invalid]="(email.invalid && (email.dirty || email.touched))">
        </div>
      </div>
      <div class="form-row">
        <div class="from-group col mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" required
          [class.is-invalid]="(password.invalid  && (password.dirty || password.touched))">
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col mb-3 d-flex justify-content-center">
          <a class="switch-mode" (click)="switchMode('reg')">Don't have an account? Click here to create one</a>
        </div>
      </div>
      <div class="from-row">
        <div class="col-9 ml-auto mr-auto d-flex justify-content-center">
          <button class="btn" [disabled]="loginForm.invalid">Login</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #ol>
  <div class="p-3 register-stage container">
    <h5 class="mb-3">Login</h5>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="from-group col mb-3">
          <label for="mobile">Mobile No.</label>
          <input type="number" class="form-control" formControlName="mobile"
          [class.is-invalid]="(mobile.hasError('required') || mobile.hasError('pattern'))  && (mobile.dirty || mobile.touched)">
        </div>
      </div>
      <div class="from-row">
        <div class="col-9 ml-auto mr-auto d-flex justify-content-center">
          <button type="submit" class="btn" [disabled]="loginForm.invalid">Get Otp</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #out>
  <div class="p-3 register-stage container">
    <h5 class="mb-3">Logout</h5>
    <div class="row">
      <div class="col-12 text-align-center">
        <p>Are you sure you want to logout?</p>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-small mx-2" (click)="onSubmit()">Yes</button>
      <button type="button" class="btn btn-small mx-2" (click)="cancelLogout()">No</button>
    </div>
  </div>
</ng-template>

<ng-template #o>
  <div class="p-3 register-stage otp container">
    <h5 class="mb-3">Enter OTP</h5>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
      <div class="form-row justify-content-center">
        <div id="otpform-d0" class="form-group col-2 mb-3" (keyup)="otpKeyup($event, 0)">
          <input type="number" class="form-control" formControlName="d0" maxlength=1 required>
        </div>
        <div id="otpform-d1" class="form-group col-2 mb-3" (keyup)="otpKeyup($event, 1)">
          <input type="number" class="form-control" formControlName="d1" maxlength=1 required>
        </div>
        <div id="otpform-d2" class="form-group col-2 mb-3" (keyup)="otpKeyup($event, 2)">
          <input type="number" class="form-control" formControlName="d2" maxlength=1 required>
        </div>
        <div id="otpform-d3" class="form-group col-2 mb-3" (keyup)="otpKeyup($event, 3)">
          <input type="number" class="form-control" formControlName="d3" maxlength=1 required>
        </div>
        <div id="otpform-d4" class="form-group col-2 mb-3" (keyup)="otpKeyup($event, 4)">
          <input type="number" class="form-control" formControlName="d4" maxlength=1 required>
        </div>
        <div id="otpform-d5" class="form-group col-2 mb-3" (keyup)="otpKeyup($event, 5)">
          <input type="number" class="form-control" formControlName="d5" maxlength=1 required>
        </div>
      </div>
      <div class="from-row">
        <div class="col-9 ml-auto mr-auto d-flex justify-content-center">
          <button type="submit" class="btn" [disabled]="otpForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
