<div class="track-block">
  <div class="search-wrap" style="margin: 1vh 1vh 1vh 1vh;">
    <img alt="search icon" src="../../../assets/blog-icons/search.svg">
    <input aria-label="search your apartment" onkeyup="search(event)" placeholder="Search for brand or product"
      type="text">
  </div>
</div>
<div class="component-wrapper" style="height: 100vh;" >
  <div class="inner-wrapper">
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs  flex-nowrap justify-content-center"
      style="  overflow-x: scroll; overflow-y: hidden; height:5vh; ">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Storied Blogs</a>
        <ng-template ngbNavContent  >
          <div class="scroll-wrapper" style=" height:67vh;">
              <app-storied-blogs></app-storied-blogs>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Brand Stories</a>
        <ng-template ngbNavContent>
        <div class="scroll-wrapper" style="margin-top: 2vh;">
            Brand Stories
        </div>    
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
